<style>
    table, th, td {
     
    border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
</style>
<br>
<br>
<br>
<h1>Enter Username to Search</h1>
<div class="container">
    <div class="input-group">
        <div class="form-outline div">
            <input type="search" class="w3-input w3-border w3-light-grey" style="height: 40px;" placeholder="username" [(ngModel)]="str">
        </div>
        <button id="search-button" type="button" class="btn btn-success" (click)="search()" style="margin-left: 20px;">
            Search
        </button>
        <button id="search-button" type="button" class="btn btn-success" (click)="all()"  style="margin-left: 20px;">
           Show All Users
        </button>
    </div>
    <br />
    <div *ngIf="searchMessage" class="alert alert-warning">{{searchMessage}}</div>
    <div *ngIf="noUser" class="alert alert-warning">{{noUser}}</div>
<div class="container" style="margin-top: 20px;">
        <div *ngFor="let user of usersList" >
          <div ><a routerLink="/search/{{user.loginId}}" ><b>{{user.loginId}}</b></a>   {{user.email}}</div>
          </div>
           
</div>
