<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 style="color: cadetblue;">About Us</h1>
<br>
            <p>    
                Nobody wishes for the day when he has to make a claim against an insurance policy, but that is precisely the day insurance policies are meant for. The insurance premium that you pay will be worth it if you are able to sail through the crisis without going broke. This is also the time when an insurer can make a difference by making the claim process easier for the troubled customer. This is an era of internet, where word of mouth resonates fast and loud across social media platforms, amplifying both positive and negative experiences. No company wants to be seen on the wrong side of customer experience, and insurers are focusing on improving their claim processes to be on the right side.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="../../assets/img/values-1.png">
        </div>
    </div>
</div>

