
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container" >
    <div id="loginbox" style="margin-top:100px; border: 1px solid black; background-color:black;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" style="border: 1px solid black;background-color: azure;">

            <div style="padding-top:30px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" >

                    <div class="form-group">
                        <div class="col-md-6 inputGroupContainer">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" name="username" [(ngModel)]="user.loginId" #u="ngModel" placeholder="Username" class="form-control" type="text" required>
                          </div>
                        </div>
                        <span *ngIf="u.errors?.['required'] && u.untouched" style="color: red;">*</span>
                        <span *ngIf="u.invalid  && (u.dirty || u.touched)" class="alert">
                          <span *ngIf="u.errors?.['required']" style="color: red;"> Username Required</span>
                      </span>
                      
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 inputGroupContainer">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="password" type="password" #pass="ngModel" minlength="5" [(ngModel)]="user.password" placeholder="Password" class="form-control" type="password" required>
                          </div>
                        </div>
                        <span *ngIf="pass.errors?.['required'] && pass.untouched" style="color: red;">*</span>
                        <span *ngIf="pass.invalid  && (pass.dirty || pass.touched)" class="alert">
                          <span *ngIf="pass.errors?.['required']" style="color: red;"> Password Required</span>
                      </span>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 inputGroupContainer">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="password" type="password" #pass="ngModel" minlength="5" [(ngModel)]="user.confirmPassword" placeholder=" Confirm Password" class="form-control" type="password" required>
                          </div>
                        </div>
                        <span *ngIf="pass.errors?.['required'] && pass.untouched" style="color: red;">*</span>
                        <span *ngIf="pass.invalid  && (pass.dirty || pass.touched)" class="alert">
                          <span *ngIf="pass.errors?.['required']" style="color: red;"> Confirm Password Required</span>
                      </span>
                      </div>
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <a id="btn-login"class="btn btn-success" (click)="forgotPassword()">Submit</a>
                            <div style="color: black;"*ngIf='successMessage'>{{successMessage}}
                            Click here to <a routerLink="/login">Login</a></div>
                            <div class="alert alert-warning" *ngIf="errorMessage">{{errorMessage}}</div>
                            
                        </div>
                    </div>
                   
                </form>
               



            </div>
        </div>
    </div>