<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <div class="header__title">
    <div class="row">
      <div class="col-xs-4">
        <h1>
          Claims Control
          <br />
         made easy
        </h1>
        <h4>A simple claim management system<br>for a simple life</h4>
        <button class="btn--text" (click)="onScrollTo(target)">
          GET STARTED &DownArrow;
        </button>
      </div>
      <div class="col-xs-4 offset-md-2">
        <img
          src="../../assets/img/hero-img.png"
          class="header__img"
          alt="png image"
        />
      </div>
    </div>
  </div>

  <hr />

  <div class="section margin-section" id="section--1" #target>
    <div class="row">
      <div class="col-xs-6 offset-md-2">
        <div class="section__title">
          <h2 class="section__description">Features</h2>
          <h3 class="section__header">
            Managing claims has never been so easy.
          </h3>
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-xs-6 col-md-6">
        <img
          src="../../assets/img/career1.png"
          data-src="../../assets/img/digital.jpg"
          alt="Computer"
          class="features__img lazy-img"
        />
      </div>

      <div class="col-xs-6 col-md-6 d-flex justify-content-center">
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use xlink:href="../../assets/img/icons.svg#icon-monitor"></use>
            </svg>
          </div>
          <h5 class="features__header">Easy to use</h5>
          <p>
            
            Fortunately, though, among the benefits of claims management systems is ease of use. Claims management systems are designed so that firms of any size and easily establish new procedures.
            
            These systems are easy to learn, offer great customer support, and are much more efficient for handling and organizing reports.  
          
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-end margin-grid-row">
      <div class="col-xs-6 col-md-6 justify-content-center d-flex">
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use
                xlink:href="../../assets/img/icons.svg#icon-credit-card"
              ></use>
            </svg>
          </div>
          <h5 class="features__header">View all your claims</h5>
          <p>
            Active claims are claims associated with your Content Manager account that are currently active.

Under the Active claim filter, you can select the extra filter Dispute reinstated. You'll get a list of your active claims that were disputed by a user, then the dispute was reinstated by you.
          </p>
        </div>
      </div>

      <div class="col-xs-6 col-md-6">
        <img
          src="../../assets/img/features-2.png"
          data-src="../../assets/img/digital.jpg"
          alt="Computer"
          class="features__img lazy-img"
        />
      </div>
    </div>

    <div class="row justify-content-end margin-grid-row">
      <div class="col-xs-6 col-md-6">
        <img
          src="../../assets/img/career.png"
          alt="Computer"
          class="features__img lazy-img"
        />
      </div>

      <div class="col-xs-6 col-md-6 justify-content-center d-flex">
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use
                xlink:href="../../assets/img/icons.svg#icon-trending-up"
              ></use>
            </svg>
          </div>
          <h5 class="features__header">Track you claim status</h5>
          <p>
            You can now track your Motor and Health Claim online instantly.

In order to know the status of your claim, you may click on the below links. Please note to keep your claim number or policy number readily available.           </p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div id="faq">
  <h4>
    Find health insurance plans to stay secure against medical emergencies</h4>
  <p>  In these days of uncertainties, it is imperative to keep yourself, and your family protected against unforeseen medical emergencies. In this pandemic, we realise how emergency medical treatments and hospitalization can take a toll on our financial health. Thus, investing in health insurance plans can be the best investment to safeguard your future. We at Care Health Insurance provide you with the most comprehensive health insurance plans that protect you and your loved ones.
    </p>
    <h4>
    
    How do health insurance plans help you?</h4><p>
    When medical inflation in India is rising faster, battling medical emergencies can lead to financial hardships. Medical insurance will provide the necessary financial protection in the time of need. Above all, health insurance plans give complete protection by covering various medical expenses apart from hefty hospital bills, thus safeguarding your precious savings. Additionally, you can avail of Section 80D tax benefits under the Income Tax Act on the premium paid for yourself and your family.
    </p><h4>
    
    Why Choose Care Health Insurance?</h4><p>
    Care Health Insurance provides customised health insurance plans at affordable premium rates. We provide cashless treatment facility at over 15500 cashless healthcare providers and ensure a hassle-free claim settlement process for our customers. Our health insurance plans offer numerous policy benefits, including cashless hospitalization, pre-and-post hospitalization cover, day care treatment, alternative treatment, no claim bonus, lifelong renewability, annual health check-up, and more.
      
    Consider family health insurance by CHI, the ideal choice to secure your immediate family. It comes with wide-ranging sum insured options while giving you the flexibility to customise the plan as per your family’s needs. Besides, thanks to the online facility, you can now experience the hassle-free process of choosing the right health insurance plans, calculating the premium amount, renewing policies online, and tracking claims in a few clicks.
    </p>
    </div>
    <br>
</div>

<footer class="footer">
  <ul class="footer__nav ">
    <li class="footer__item">
      <a class="footer__link" href="about">About</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Terms of Use</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Privacy Policy</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Careers</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#faq">FAQ</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="#">Contact Us</a>
    </li>
  </ul>
 
  <div>
    <ul class="footer__nav ">
      <li class="footer__item">
        <img src="../../assets/img/card1.png">
      </li>
      <li class="footer__item">
        <img src="../../assets/img/card2.png">
      </li>
      <li class="footer__item">
        <img src="../../assets/img/card3.png">
      </li>
      <li class="footer__item">
        <img src="../../assets/img/card4.png">
      </li>
      <li class="footer__item">
        <img src="../../assets/img/card5.png">
      </li>
      <li class="footer__item">
        <img src="../../assets/img/card6.png">
      </li>
      <li class="footer__item">
        <img src="../../assets/img/card7.png">
      </li>
    </ul>
  </div>
  <div class="logo">
    <a routerLink="/home"
      ><img
        src="../../assets/img/claim.png"
        class="brand-logo"
        alt="brand logo"
    /></a>
  </div>
  <p class="footer__copyright">&copy; E-claim All rights reserved.</p>
</footer>


